[2018-12-15 15:03] darrelmiller opened #1 "Change authority (aka Authorization Server) to be an enum of allowed Graph identity providers"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/ConfidentialClient/AuthorizationCodeProvider.cs#L42

We are an adapter for using MSAL with Graph.  I see an opportunity for simplifying the experience by preventing users from having to figure out what is the correct URL for the Authorization Server.  Th

[2018-12-15 15:09] darrelmiller opened #2 "Consider lifting this code into specialized classes"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/MsalAuthenticationBase.cs#L76

I'm concerned that pushing these few lines into the base class introduces significantly more complexity than what it saves.  The fact that we need to pass a flag to select between the two major code paths indicates that thi

[2018-12-15 15:11] darrelmiller opened #3 "Rename ITokenCacheStorage to ITokenCacheProvider"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/TokenCacheStorage/ITokenCacheStorage.cs#L4-L7

Would it make more sense to call this ITokenCacheProvider?

[2018-12-15 15:14] darrelmiller opened #4 "Could CancellationToken come in via RequestContext?"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/PublicClient/DeviceCodeProvider.cs#L61

Having a CancellationToken passed into the ctor of an AuthorizationProvider seems like the wrong lifetime.

[2018-12-15 15:17] darrelmiller opened #5 "What are extraQueryParameters used for? Can we raise the abstraction level?"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/PublicClient/DeviceCodeProvider.cs#L54

I would prefer to support only a subset of features of MSAL if we can significantly improve the usability.  Users can always call MSAL directly for edge cases.  So far the only thing I know extraQueryParameters are

[2018-12-15 19:55] darrelmiller opened #6 "Handle conditional access challenges"
See details here

https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/exceptions#handling-claim-challenge-exceptions-in-msalnet

[2018-12-15 20:19] darrelmiller opened #7 "ForceRefresh should be a per request parameter, not a ctor parameter"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/ConfidentialClient/ClientCredentialProvider.cs#L48

[2018-12-15 20:20] darrelmiller opened #8 "Implement 429 handling for token acquisition"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/ConfidentialClient/ClientCredentialProvider.cs#L67

See https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/retry-after for details

[2018-12-15 20:21] darrelmiller opened #9 "We don't need to accept ResourceUrl as a parameter because it is always the same for Graph"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/a209336f5243777ee58bf392e027a94a2191b795/Microsoft.Graph.Auth/Microsoft.Graph.Auth/ConfidentialClient/ClientCredentialProvider.cs#L47

[2018-12-21 00:54] pwombwa commented on #9
@darrelmiller fixed in the latest commit

[2018-12-21 00:54] #9 closed

[2018-12-21 00:55] pwombwa commented on #5
@darrelmiller removed in the latest commit

[2018-12-21 00:55] #5 closed

[2018-12-21 00:57] pwombwa commented on #1
@darrelmiller handled in the latest commit via `GetAuthority` in `AuthenticationProviderExtensions`

[2018-12-21 00:57] #3 closed

[2018-12-21 01:01] pwombwa commented on #2
@darrelmiller I have simplified our base class and it only has one method (`GetAccessTokenSilentAsync`) which is used by all the providers.

[2019-01-04 00:41] pwombwa commented on #4
@darrelmiller We don't need to pass it via the RequestContext since **AuthenticationHandler**.[SendAsync ](https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/1a0e1c91abff1c4359349c934a60fe81fc5b2cd8/src/Microsoft.Graph.Core/Requests/AuthenticationHandler.cs#L100) already accepts a CancelationToken as a parameter that we can pass to our providers. We will need to introduce an optional Cancel

[2019-01-11 16:01] darrelmiller commented on #6
I think we should but we don't need to block on this.  We can close this and open a new issue specifically for the scenario we don't yet support.

[2019-01-30 18:18] #6 closed

[2019-01-30 18:18] #7 closed

[2019-02-04 17:27] darrelmiller opened #10 "Move Application Factory extensions to static methods on providers"
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/1b150069aa7e17023aa5513afaaf23fcc39bf136/Microsoft.Graph.Auth/Microsoft.Graph.Auth/Extensions/ConfidentialClientApplicationExtension.cs#L8

By putting these factory methods on the Provider classes we can make them specific to the scenario they are designed to support and eliminate parameters that are unneeded for that scenario.

[2019-02-06 02:42] #10 closed

[2019-02-06 03:13] pwombwa opened #11 "Get AuthProviderOption from request context"
We need to get AuthProviderOption from the request context and use it's properties in our auth providers.

**Microsoft.Graph.Auth** will implement the **IAuthProviderOption** interface defined in **Microsoft.Graph.Core** and provide the necessary extension methods to set and retrieve it's properties in accordance to the fluent api design.

This will help contain all auth provider related logic in

[2019-02-12 00:12] peombwa opened #12 "Need To Support User Sign-out"
This is currently an [open issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/589) with MSAL and the only way to sign-out a user is to simply clear the cache for the user. Since we are abstracting MSAL, we need to provide developers some method that they can call to clear the token cache storage of the logged in user.

[2019-02-12 04:13] darrelmiller commented on #12
I believe we are going  to need both a Login and a Logout method on the AuthorizationProviders.  They may need custom parameters per platform, so I don't think we need them to be part of any interface.  We should just try and make the naming consistent.

[2019-02-16 21:10] darrelmiller opened #13 "Scopes parameter on ctor of Authorization providers"
Can we make this an optional parameter and if not provided then use `https://graph.microsoft.com/.default` as the scope?  This will allow an application to set "default" scopes in during the initialization of the application, or via the app registration portal.

We should continue to encourage developers to make this a minimal set of permissions and use incremental scopes that are past per request

[2019-02-16 21:13] darrelmiller opened #14 "Default callback for DeviceCodeProvider"
Should we create a default implementation of the Device Code Flow provide call that writes to the Console?  Developers can provide their own callback if they want different behavior, but at least then it would work "out of the box".
[AB#7205](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7205)

[2019-02-18 18:21] darrelmiller commented on #14
Had another thought here.  Perhaps we can create a `dotnet new` template that will set this up and provide a default callback method.

[2019-02-27 17:49] peombwa opened #15 "Form resource url in client credential provider based on the applications national cloud"
[AB#7206](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7206)

[2019-03-11 20:18] MIchaelMainer opened #18 "Use new csproj format for test project"

[2019-03-11 21:02] peombwa opened #19 "Wikis for authentication scenarios"
[AB#7207](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7207)

[2019-03-11 23:57] pwombwa commented on #18
@MIchaelMainer Also, going forward, all tests will use XUnit and not MSTest, correct?

[2019-03-12 17:42] MIchaelMainer commented on #18
Correct.

[2019-03-14 02:26] #11 closed

[2019-03-30 19:24] tomatsue opened #25 "Client credential provider fails"
When using ClientCredentialProvider, the following error occurs.
[code]

This might be because:
* the redirect uri is `string.Empty`
  https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/74b74757979718f962227b1470b6a462a8c36b80/src/Microsoft.Graph.Auth/ConfidentialClient/ClientCredentialProvider.cs#L53
* and, Microsoft.Identity.Client 2.7.1 handle it inappropriately
  https://github.com

[2019-03-30 20:04] peombwa commented on #25
@tomatsue Thanks for reporting this issue. You are correct in your finding and MSAL 2.7.1 doesn't appropriately handle empty strings as redirect urls for ConfidentialClient. We will handle this in our next preview release.

[2019-03-30 20:18] #13 closed

[2019-04-02 06:43] jodur commented on #25
Any workarrounds for this issue at the moment?

[2019-04-02 17:00] peombwa commented on #25
For now, you can new `ConfidentialClientApplication` and pass it to the `ClientCredentialProvider` constructor as such:

[code]

[2019-04-03 16:48] jodur commented on #25
Ok thnx, this worked for now!

[2019-04-03 22:17] peombwa opened #27 "Add support for configuring a proxy"

[2019-04-04 22:18] peombwa opened #28 "WithUserAssertion ignores TID set on a JWT payload"
When using .WithUserAssertion with OBO provider, the tid is ignored when storing an access token.

[2019-04-04 23:21] peombwa opened #29 "user_mismatch exception when using OBO Provider"
When switching users, `MsalClientException` is thrown with the following message:
[code]

### cause
We should get a new token when `MsalClientException` is thrown and not just `MsalUiRequiredException` .

[2019-04-09 21:46] rjhaines opened #31 "UserAssertion null in OBO provider"
I'm seeing a null UserAssertion parameter value on the first call to OnBehalfOfProvider.AuthenticateRequestAsync:

![image](https://user-images.githubusercontent.com/28324940/55837159-5dd0a700-5ad5-11e9-89e9-642ad0a71904.png)

I'd appreciate any insights. Thanks!

[2019-04-09 22:24] peombwa opened #32 "TokenCacheExtensions is not supported on mobile platforms."
```Could not load type 'Microsoft.Identity.Client.TokenCacheExtensions' from assembly 'Microsoft.Identity.Client, Version=2.7.1.0.``` exception message is thrown when using our interactiveAuthProvider in a UWP & Xamarin app.

MSAL guards against token cache extension delegates on mobile platforms as referenced [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/ef94d

[2019-04-11 11:17] Misiu commented on #25
According to Readme:

we should use this code:
[code]

unfortunally I get `The URI is empty` exception.

Fof a quick workaround I've used this:

[code]
but this requires to pass tenant and redirectUri and `null` as tokenStorageProvider.
Please consider updating Readme or maybe fix this issue.

[2019-04-11 11:40] Misiu opened #34 "How to reuse access tokens? Now each action requires two requests (login.microsoftonline.com, graph.microsoft.com)"
I've built a simple POC application that allows me to send email on behalf of the user from Windows Service.

I'm sending mail using this code:
[code]
I've build my `GraphServiceClient` like so:

[code]

When I call above code I've noticed that sending email requires two requests:
first to login.microsoftonline.com
second to graph.microsoft.com

This is correct, but when I want to send 5 emails th

[2019-04-11 21:41] peombwa commented on #34
@Misiu  This is because you are using `AuthorizationCodeProvider.CreateClientApplication` which creates a `ConfidentialClientApplication` configured for an `AuthorizationCodeProvider` and not `ClientCredentialProvider` - it internally sets a user token cache and not an app token cache that ClientCredentialProvider expects.

When using a `ClientCredentialProvider`, you should use `ClientCredentialP

[2019-04-12 06:09] Misiu commented on #34
@pwombwa thank You for clarification.
I've changed my code to:
[code]

but now when I try to send mail I get this error:

**EDIT1:**
The key was the authority parameter of `ConfidentialClientApplication`
I had to build it like so:

[code]

and then use it like this:

[code]

hope this help others having same problem 😉

**EDIT2**
`ClientCredentialProvider.CreateClientApplication` works fine in `0.1

[2019-04-12 17:45] peombwa commented on #34
@Misiu Great! I'll now close this issue.

[2019-04-12 17:45] #34 closed, assigned to nobody

[2019-04-12 17:49] peombwa commented on #32
This has been fixed as part of [`Microsoft.Graph.Auth 0.1.0-preview.2`](https://www.nuget.org/packages/Microsoft.Graph.Auth/0.1.0-preview.2) release.

[2019-04-12 17:49] #32 closed, assigned to nobody

[2019-04-12 17:49] peombwa commented on #29
This has been fixed as part of [`Microsoft.Graph.Auth 0.1.0-preview.2`](https://www.nuget.org/packages/Microsoft.Graph.Auth/0.1.0-preview.2) release.

[2019-04-12 17:49] #29 closed, assigned to peombwa

[2019-04-12 17:49] peombwa commented on #28
This has been fixed as part of [`Microsoft.Graph.Auth 0.1.0-preview.2`](https://www.nuget.org/packages/Microsoft.Graph.Auth/0.1.0-preview.2) release.

[2019-04-12 17:49] #28 closed, assigned to peombwa

[2019-04-12 17:51] peombwa commented on #25
This has been fixed as part of [`Microsoft.Graph.Auth 0.1.0-preview.2`](https://www.nuget.org/packages/Microsoft.Graph.Auth/0.1.0-preview.2) release. Give it a try and let us know if addresses your scenario.

[2019-04-12 18:41] Misiu commented on #25
This works great. The issue can be closed.

[2019-04-12 21:14] #25 closed, assigned to peombwa

[2019-04-15 16:47] peombwa commented on #31
@rjhaines You need to call `.WithUserAssertion` passing a validated service token as a `UserAssertion`. Here is an example of how to do that.

[code]
We will add documentation that explains how to use and extend our auth providers.

[2019-04-16 00:48] rjhaines commented on #31
@pwombwa Thanks for your comment and proposed follow-ups.

In the meantime, can you provide a quick direction on acquiring the service token? So far I've tried `ConfidentialClientApplication.AcquireTokenForClientAsync` yet end up with an error:
AADSTS50013: Assertion failed signature validation.

I'm currently using a client secret. Thanks for any further help you can provide.

[2019-04-17 08:30] jodur commented on #25
I now get a different error with te new©ode, while the suggested workarround worked for me:

`MsalServiceException: AADSTS700016: Application with identifier 'a061d9f3-9ced-4149-b812-xxxx' was not found in the directory 'microsoft.com'. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You may have sent your auth

[2019-04-17 08:36] Misiu commented on #25
@jodur try using this:
[code]

You must pass **tenant** to `CreateClientApplication`, this solved the problem for me.

[2019-04-25 11:43] jodur commented on #25
@Misiu , ok thnx this solved the issue!

[2019-04-26 22:56] peombwa commented on #31
@rjhaines You can take a look at [this guide](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/on-behalf-of-2.x) from MSAL that explains how the OBO flow should be used. According to the guide, your client (web, desktop, mobile, single-page application) should call your service (API) as a user - use an auth flow that calls an API in the name of a user and not an app. `Ac

[2019-05-01 21:02] peombwa commented on #12
No need for this since we expose `CreateClientApplication` that returns a client application.

[2019-05-01 21:02] #12 closed

[2019-05-03 14:18] pschaeflein opened #36 "The WithUsernamePassword extension should use SecureString as the type for the password parameter"
The current signature enables worst practices for password storage.

While I understand that the UsernamePassword provider is not recommended, if it is being used, then requiring a SecureString will force developers to "secure" the password before calling the SDK.

[2019-05-13 17:12] michael-hawker opened #37 "Update to MSAL v3 and Builder Pattern"
MSAL has released v3 now for .NET, so should upgrade?

[2019-05-13 20:42] #31 closed, assigned to nobody

[2019-05-14 21:55] michael-hawker commented on #37
Think they have a new builder pattern for v3 (don't think this was in 2.7.1).

It'd be great if the Creation factories for the different patterns could return the builder from MSAL vs. the interface so advanced configuration could leverage the same methods.  See [docs here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.identity.client.publicclientapplicationbuilder?view=azure-dotnet).

[2019-05-14 22:14] peombwa commented on #37
@michael-hawker We are in the processes of moving our auth providers to Microsoft.Graph.Core SDK and we will upgrade the auth providers to use of MSAL v3 as part of this change. This is currently being tracked under issue [#461](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/461) in our main [DotNet repo](https://github.com/microsoftgraph/msgraph-sdk-dotnet/projects/3).

[2019-05-14 22:17] michael-hawker commented on #37
Thanks @peombwa that's great!

I'm wondering if the client applications created could also just create the provider behind the scenes.  Then you wouldn't have to double-check to pass the `clientApplication` reference into the same matching authentication provider, could simplify the API ab it.

[2019-05-14 22:23] peombwa commented on #36
@pschaeflein Thanks for reporting this. We will update **UsernamePasswordProvider** to use a SecureString as part of issue [#461](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/461).

[2019-05-14 22:44] peombwa commented on #37
@michael-hawker Thanks for the suggestion, but the only reason why we can't create auth providers behind the scenes is because the client applications (`PublicClientApplication` & `ConfidentialClientApplication`) are used in more than one OAuth flow (which our auth providers are based on) and each auth provider internally invokes a unique MSAL `AcquireTokenXXXX` method. Nonetheless, we will try an

[2019-05-14 23:32] michael-hawker opened #38 "ITokenStorageProvider example/docs?"
There doesn't seem to be any info on the `ITokenStorageProvider` interface and having an example.  It also means the [MSAL example provided](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/Token-cache-serialization-2x) is incompatible without modification.

I'm also noticing that because you implemented the contract as `async` the calls are getting scheduled behind when

[2019-05-15 00:11] michael-hawker commented on #38
This may get easier with the v3 update as well, as it looks like they expose the async setters for their paradigm.  It'd be nice to see a working example of the token cache though with the current, is there a complete sample using the cache somewhere?

[2019-05-16 03:28] seesharprun commented on #37
I have a fork in my personal GitHub org where I have implemented most (but not all) of the unit tests and rewrote the classes for MSAL v3: <https://github.com/seesharprun/msgraph-sdk-dotnet-auth>

Here’s the changes:
- Rewrote all seven providers to use the [MSAL v3](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-3-released) builder pattern
- ~~Retargeted the

[2019-05-16 17:42] peombwa commented on #38
@michael-hawker here are some samples that use the `ITokenStorageProvider` :
1. [Console app](https://github.com/darrelmiller/mvpsummit/blob/master/MVPSummit/Program.cs#L24) using a file based token storage provider.
2. [ASP.Net 4.6 Web App](https://github.com/microsoftgraph/aspnet-snippets-sample/blob/master/Graph-ASPNET-46-Snippets/Microsoft%20Graph%20ASPNET%20Snippets/Helpers/SDKHelper.cs#L39)

[2019-05-16 17:59] peombwa commented on #38
The implementation of `ITokenStorageProvider` should be a class that reads and writes to a token store e.g. Redis cache or a session object and we [internally](https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/blob/dev/src/Microsoft.Graph.Auth/TokenStorage/TokenCacheProvider.cs#L15 ) use this implementation to serialize and deserialize MSAL's token.

I agree with you that our documentation

[2019-05-16 19:20] michael-hawker commented on #37
@seesharprun both the `Microsoft.Identity.Client` and `Microsoft.Graph` libraries target lower versions of .NET Standard to support more platforms.  I think that's important to keep, so probably shouldn't move to .NET Standard 2.0 yet if not needed.

[2019-05-16 19:34] seesharprun commented on #37
@michael-hawker The good news is that’s an easy fix. I’ll make the fix in my fork and then wait for the new branch to be ready. I can then open a PR so we can shift the conversation there.

[2019-05-16 19:52] michael-hawker commented on #38
Thanks @peombwa, I was able to update and run the first Console app example and see it store the token.  I'll try copying this into my other app next!

[2019-05-16 21:01] darrelmiller commented on #37
Hey Sidney!  Thanks for the PR.  Peter and I will review.  I'm curious about the changes to the TokenCache that you have made.  @jmprieur @peombwa and I have been discussing how we can further align what we are doing here with the Microsoft.Identity.Web work that is ongoing.

[2019-05-16 21:33] seesharprun commented on #37
The pull request is open at #39 and I added eight checkboxes to discuss each of the items there.

@darrelmiller, unless I misunderstood, the MSAL team seems to have removed the ``UseTokenCache(tokenCache)`` builder method from the v3 implementation.

[2019-05-16 21:52] darrelmiller commented on #37
@seesharprun Ahh yes.  I think we will need to pull the precreated TokenCache instance out of the application and wire up our TokenStorageProvider hooks into it.  However, we need to make sure we can use the TokenCacheProviders that are being created by the MSAL team.

[2019-05-16 21:54] seesharprun commented on #37
I can add a checkbox for that to the laundry list in the PR ✔️ .

It's going to take a mountain of work to get this library to MSAL v3 but i'm incentivized to try and do this by the end of this month so we can have a rockstar demo session at the InsiderDevTour :smile:

[2019-05-17 00:12] pschaeflein commented on #37
I know it is early, and it may just be my ignorance, but if I have gone thru the exercise of creating a custom token cache, why do i also need to create/implement the graph's ITokenStorageProvider?

The [MSAL docs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/token-cache-serialization) specify a pattern to use, I don't think I should use a different pattern for the G

[2019-05-17 03:41] michael-hawker commented on #37
@pschaeflein yeah, this threw me a bit too.  I think it's a preference of interface vs. events.  It's easier/more discoverable to see you need to pass in an instance of something that implements an interface to get the provided functionality (and know which methods to complete) vs. knowing you have to dig-in to two specific paired events.  It would just be helpful if the example [file based cache]

[2019-05-17 13:42] pschaeflein commented on #37
OK, so to make the "know what to complete" easier, how about a CreateClientApplication factory method that takes an ITokenCache in addition to the client id. That factory method can then do the wireup.

Just my $.02.  ;)

[2019-05-17 13:44] seesharprun commented on #37
I'm a fan of creating a new issue and having a deeper conversation around how to handle ITokenCache in MSAL v3. We can get the rest of the upgrade "out of the way" and have that as the first item to tackle post v3 upgrade. This gives us more time to bring in other interested parties and come up with a solution everyone is happy with.

[2019-05-18 13:54] darrelmiller commented on #37
@pschaeflein Our original plan was to implement standard tokenCache providers because the MSAL team were not going.  Then that plan changed.  We have yet to synchronize what we started with what they have started and will continue.  Also, our plan doesn't work any more because MSAL V3 moves the creation of the TokenCache inside the app.  We want to align with MSALs changes.

[2019-05-20 15:16] pschaeflein commented on #37
I *think* you are saying that I'm getting what I want. If I build an "IClientApplication" using whatever strategy, I can provide that to this SDK and it will use it. ;)

Thanks for the clarification.

[2019-05-22 13:16] sivabalaguru commented on #25
I am trying to clear Identity Risk events using Post request as below
`
IConfidentialClientApplication clientApplication = ConfidentialClientApplicationBuilder.Create("xxxx-xxxx-xxxx-xxxxx-xx").WithClientSecret("xxxxxxxxxxxxxxxxxxxxxxxxxxxx")
                                                       .WithAuthority("https://login.microsoftonline.com/xxx.com/v2.0")

[2019-07-08 20:36] peombwa opened #44 "Allow custom scopes to be passed to Client Credential Provider"
Currently, the client credential provider uses `https://graph.microsoft.com/.default` as it's default scope and it doesn't expose/provide a mechanism for a customer to set their own scope.
e.g.
To call Azure Resource Manager (ARM), you need to use `https://management.azure.com/.default` as your scope. The same applies when using the provider to target other national clouds.

[2019-07-09 04:52] isthistechsupport opened #45 "Installation instructions incorrect"
The installation instructions for the Package Manager Console are incorrect: They currently say one must execute the command `Install-Package Microsoft.Graph.Auth` when the actual command ([taken from the NuGet webpage](https://www.nuget.org/packages/Microsoft.Graph.Auth)) is `Install-Package Microsoft.Graph.Auth -Version 1.0.0-preview.0`.

[2019-07-09 14:08] pschaeflein opened #46 "v1.0.0-preview0 has dependency on Microsoft.Graph.Core v1.15"
I would expect that the library would depend on the latest version of Core.

[2019-07-09 14:21] pschaeflein commented on #44
Is the intent to completely wrap the MSAL library?

Using the 1.0.0-preview0 release, the following works for me:

[code]

[2019-07-09 17:27] peombwa commented on #45
Thanks for bringing this up. We will update the readme + our docs page to include `-PreRelease` option. i.e.
`Install-Package Microsoft.Graph.Auth -PreRelease`.

[2019-07-09 17:59] peombwa commented on #44
This issue only applies to [`ClientCredentialProvider`](https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth#b-client-credential-provider) which at the moment doesn't allow our customers to set additional scopes beyond the pre-configured `https://graph.microsoft.com/.default` scope. We had made the assumption that the provider will only use `https://graph.microsoft.com/.default` as its scope,

[2019-07-11 03:30] darrelmiller commented on #46
At the time of releasing this auth package, microsoft.graph.core was still in preview.  We won't take a dependency on a preview unless it is required.  Feel free to reopen if you have any concerns about this.

[2019-07-11 03:30] #46 closed, assigned to nobody

[2019-07-19 18:31] joshfriend opened #47 "Unpredictable Authorization_RequestDenied failures sometimes when adding users to AAD"
I occasionally (but not 100% of the time) get an error when attempting to add a user to AAD from my web API using on-behalf-of authentication:

[code]

[code]

I found one github issue that seemed very similar to what I was seeing: https://github.com/Azure-Samples/active-directory-java-graphapi-web/issues/4
I tried any applicable suggestions from that thread as well as various others I found on St

[2019-08-08 03:40] darrelmiller commented on #47
@jmprieur Do we have any answers to this issue?

[2019-08-08 14:41] joshfriend commented on #47
@darrelmiller can you clarify the addition of the "service bug" label? Is this a known issue with AAD, and where can i find out more information about it?

[2019-08-08 14:46] darrelmiller commented on #47
@joshfriend I can't confirm that it is a service bug, however, I am fairly confident that it isn't an issue with the Graph Auth Provider.  We use the "service bug" tag to indicate it is not something that our team can fix.  I tagged Jean Marc as he owns the MSAL.NET library that our Auth Provider uses.  He would have a better idea if it actually is a service issue or an MSAL issue.  However, I bel

[2019-08-20 19:30] michael-hawker commented on #37
Should this issue be closed since the PR was merged?

Should I open a new one for MSAL v4.3?

[2019-08-20 21:02] darrelmiller commented on #37
@michael-hawker   Yes that would be great.  Thanks.

[2019-08-20 21:02] #37 closed, assigned to peombwa

[2019-08-21 18:57] michael-hawker opened #49 "Update to MSAL v4.3"
Following-up from #37.

There's been a lot of updates and bug fixes to MSAL in the last few months.  It'd be great to see the Graph Auth utils updated alongside them.

There's also better Xamarin and .NET Core support in the new versions, so keeping current will help as we get closer to the .NET Core 3 release.

Thanks!

[2019-08-22 00:02] rpowell6 commented on #38
I am new to MSAL and have found the information on GitHub to be invaluable.  To that end, I have encountered an issue with the ITokenStorageProvider interface when attempting to create a SessionTokenCacheProvider class.  I am receiving an error message indicating no type is available for the ITokenStorageProvider interface.  I have loaded what I believe to be the latest versions of the Microsoft.G

[2019-08-22 17:02] peombwa commented on #38
@rpowell6 MSAL changed how token serialization is done as from MSAL v3 and we retired `ITokenStorageProvider` as a consequence of this change. We now recommend you configure your token serialization infrastructure when creating a client application using MSAL's builders pattern, then pass the client application instance to our auth providers. Here is an [example](https://github.com/AzureAD/microso

[2019-08-22 18:21] rpowell6 commented on #38
Peter,

Thanks for your prompt reply.  I will take a closer look at the example you have provided and let you know how it turns out.  Thanks again for you expert advice.

Best regards

Randall Powell

 [cid:gw_6a5cf058-0b5b-46eb-8ba1-d614a42b779c.PNG]      Randall Powell
System Integrator

GW Communication Solutions, LLC
801 Hammond Street, Suite 350, Coppell, TX 75019

www.unitekglobalservices.co

[2019-08-23 06:08] rpowell6 commented on #38
Mr.  Ombwa,

First, let me again thank you for your prompt response.  Second, let me say that I am very new to MSAL and I only had a basic understanding of ADAL to begin with.  So, if I sound confused, trust me, I am.

What began one week ago as a simple request from my boss to include a couple of bits of user profile information from Azure AD in an app I am developing  has turned into one of the

[2019-08-23 19:33] pschaeflein commented on #38
@rpowell6 - What is your scenario? Getting information about the current user? Getting information about others in the organization?

The Auth provider to use depends upon the permission scope you need, which is hard to determine in the messages in this thread. It will likely be the AuthorizationCode or ConfidentialClient providers.

[2019-08-23 22:12] michael-hawker commented on #49
@darrelmiller @peombwa that's a good question as I realize I didn't see it called out in the readme.

_Will these helpers work with Xamarin?_  Is there a sample for their use there?

As in the [MSAL sample](https://github.com/Azure-Samples/active-directory-xamarin-native-v2) they have the call to `.WithParentActivityOrWindow` off the `AcquireTokenInteractive`, so it looks like I'd need to populate

[2019-08-23 23:42] rpowell6 commented on #38
Paul,

Thanks for the reply.  I am looking to extract user profile information for the currently logged in user.  I found the process of iterating a user's payload claims collection to be pretty straightforward but getting to the profile information has been somewhat elusive.

I was initially working with ADAL but have shifted my efforts toward adapting to MSAL.

Again, any assistance getting me o

[2019-08-26 14:23] pschaeflein commented on #38
To get an access token for the current logged-in user, I would suggest the AuthorizationCode provider.

[2019-08-27 19:32] michael-hawker commented on #18
Looks like this was done already?  At least the new csproj format?  Can it be closed?

However, I did notice that when checking out the dev branch, the project wouldn't build as the test project used an older dependency version than the main project.  Updating it to match the main project worked fine though.

[2019-08-29 07:33] #36 closed, assigned to peombwa

[2019-09-12 23:35] #49 closed, assigned to peombwa

[2019-09-16 13:56] joshfriend commented on #47
@darrelmiller @jmprieur I'm still having this issue and multiple attempts by myself and several coworkers to work around it have failed.

[2019-09-17 01:07] jmprieur commented on #47
@joshfriend : is it possible to get the information in the MsalServiceException (inner exception of the Graph Exception)?
my first intuition is that that users for whom the OBO happen don't have enought permissions: remember that the effective permission for a delegated permission = intersection of permission for the app and permission of the user. Even if the app has the permissions for a resourc

[2019-09-19 23:19] joshfriend commented on #47
I found a few users in the directory who lacked the user creation permissions. I also created a new user without the permission and tried to use it to create a new user, which triggered the "insufficient privileges" error, then adding the permissions allowed the user to finally create a user. I did have to restart the webservice after adding the permission to the user, presumably because of the to

[2019-10-05 13:50] yChakradhar opened #52 "Reg: Unable to find package 'Microsoft.Graph.Auth'"
Hi Team,

When I try to install from NuGet package manager, getting the following error.
 Unable to find package 'Microsoft.Graph.Auth'
Please help me.

Regards,
Chakradhar

[2019-10-07 17:28] peombwa commented on #52
The installation guide is missing a `-PreRelease`. You should install the package as such: `Install-Package Microsoft.Graph.Auth -PreRelease`. I'll update the readme to reflect the same. Thanks for bringing this to our attention.

[2019-10-07 17:49] #45 closed, assigned to nobody

[2019-10-08 17:36] #52 closed, assigned to nobody

[2019-10-15 17:23] joshfriend commented on #47
Reopening because we are experiencing the issue again. This time I am 100% sure that the user who is trying and failing to create new users in Graph has the "User administrator" assigned role in the directory.

[2019-10-17 13:19] joshfriend opened #54 "How to get correlation ID from a ServiceException?"
`MsalServiceException` from MSAL.NET has a `CorrelationId` property that identifies the client request that caused the exception, but `ServiceException` seems to have no equivalent. Is there a way to obtain it?

[2019-10-18 20:54] joshfriend commented on #47
The SDK retrieves and caches auth tokens for the calling user properly, but once we get outside of the `OnTokenValidated` callback where that happens, it is unable to know what user account to use. When performing a call to Graph, [inside `IClientApplicationBaseExtensions. GetAccessTokenSilentAsync`, the value of `msalAuthProviderOption.UserAccount` is `null` so for some reason the SDK decides to

[2019-10-21 13:20] joshfriend commented on #47
I can make this bug happen by logging in first as an unprivileged user after starting the app, then logging out and back in as a user who has user creation privileges. The SDK will use the cached token for the unprivileged user even though the `OnTokenValidated` call to `AcquireTokenOnBehalfOf` succeeds with the correct user assertion

[2019-10-21 13:26] joshfriend commented on #27
[code]

**DO NOT** use this in production as it ignores certificate validation errors and opens you up to MiTM attacks. It's great for debugging though.

[2019-10-21 15:38] joshfriend commented on #47
The combination of some graph requests in my application missing `WithUserAssertion()` on the request builder, the SDK using **just any token from the cache** if a user assertion was missing, and the lack of an exception when that happens has caused me lots of pain for months, but I think I finally have it figured out.

_Please_ make the client throw an exception if the auth provider is on-behalf-

[2019-11-08 09:45] PhilPJL opened #56 "IntegratedWindowsAuthenticationProvider on .NET Core"
This code

[code]

works on .NET Framework, but fails on .NET Core with a PlatformNotSupportedException with message:

If I was using this directly:

`var result = await clientApplication.AcquireTokenByIntegratedWindowsAuth(scopes).ExecuteAsync();
`
I could add WithUsername("") to ge:

`var result = await clientApplication.AcquireTokenByIntegratedWindowsAuth(scopes).WithUsername("<username>").Exec

[2019-11-11 20:52] MIchaelMainer commented on #54
The client SDK sends a client-request-id header. You should see the same in the response. This acts as a correlationId

[2019-11-11 21:21] #44 closed, assigned to nobody

[2019-11-11 21:26] peombwa commented on #27
MSAL now provides a mechanism to configure a proxy https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/httpclient

[2019-11-11 21:26] #27 closed, assigned to peombwa

[2019-11-11 21:26] #18 closed

[2019-11-11 21:44] joshfriend commented on #54
It's pretty crucial information that is returned in a standard form, you really should have exception properties for it

[2019-11-11 21:50] MIchaelMainer commented on #54
You make a good point. I would like to see this when we have a proper response object -- not just for exceptions. reopened

[2019-11-12 20:59] joshfriend commented on #54
For anyone else curious about the solution for now, here's what I came up with:

[code]

[2019-11-12 22:41] pschaeflein commented on #54
@joshfriend - any interest in submitting that extension method to the [Community library](https://github.com/microsoftgraph/msgraph-sdk-dotnet-contrib)?  (I'm happy to do the work with your permission if you would rather.)

[2019-11-15 00:35] peombwa commented on #56
Thanks for taking time to open this issue.

The Auth library has a `WithUserAccount(GraphUserAccount)` extension method that you can call on a request like this and set the users UPN to `GraphUserAccount.Email` property:

[code]

[2019-11-15 22:00] ghost commented on #38
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2019-11-18 22:00] #38 closed, assigned to peombwa

[2019-11-21 01:08] kalyankrishna1 opened #57 "How to obtain the Access token that this MSAL wrapper obtained for MS Graph"
We cannot use the SDK for all the calls, like when using Batching and intermixing beta and prod (1.0) endpoints.
In these cases we sometime needs to make a direct REST Api call using a HttpClient. This forces us to fall back on MSAL for an access token and re-Authenticate the user again.

Please consider providing a property, or better a method (preferred as I think the call to AAD is delayed till

[2019-11-21 01:38] kalyankrishna1 commented on #57
Found the following method, it works

`await graphServiceClient.AuthenticationProvider.AuthenticateRequestAsync(batchRequest);`

[2019-11-21 01:38] #57 closed, assigned to nobody

[2020-01-26 01:00] ghost commented on #56
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-01-29 01:00] #56 closed, assigned to nobody

[2020-02-18 01:37] jeffhee opened #59 "Could not add Microsoft.Graph.Auth"
Hello,
I'm using a Core 3.1 project on MacOS, Visual Studio for Mac 8.5 Preview and attempting to add this package through nuget.

VS says "Could not add Microsoft.Graph.Auth" and provides the following in Package Console:

Getting restore information for project /Users/jeffhee/Documents/Projects/ms-graph-file-explorer/GraphTutorial/GraphTutorial.csproj
Running non-parallel restore.
Reading projec

[2020-02-27 01:50] shawnjones253 opened #60 "microsoft.identity.client 4.8.0 unlisted from nuget"
Microsoft.graph.auth requires microsoft.identity.client 4.8.0, which appears to have been delisted from nuget

This causes different behavior depending on the type of csproj file:

With a new-style csproj (microsoft.net.sdk), the 4.8.0 dll somehow ends up correctly showing up in the output directory

With an old-style csproj (the kind you have with an asp.net project, for example), and with a pack

[2020-02-27 21:15] MIchaelMainer commented on #60
Can you try clearing your NuGet cache and restoring the packages at that point? Please let us know the outcome.

[2020-02-27 21:26] MIchaelMainer commented on #59
Are you still facing this issue? Can you update Microsoft.Identity.Client to 4.8.2 and let us know if that makes a difference?

[2020-03-04 21:09] #60 closed, assigned to MIchaelMainer

[2020-03-24 05:00] ghost commented on #59
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-03-27 06:00] #59 closed, assigned to nobody

[2020-04-17 14:29] Tanzy opened #63 "Microsoft.Graph.Auth Release out of Preview"
Are there any plans on releasing the Microsoft.Graph.Auth NuGet package at anytime out of preview? General rule in our company is that we can't use preview packages in production code.

[2020-04-20 17:26] stefan2410 opened #64 "Microsoft.Graph.Auth. BadImageFormatException loading WorkerRole in Azure emulator"
Depedency on Microsoft.Graph.Auth last preview 4.
The solution was built normally but when I load the WorkerRole in Azure emulator, I get the following exception.

           System.BadImageFormatException: 'Could not load file or assembly 'Microsoft.Identity.Client,
           Version=4.8.2.0, Culture=neutral, PublicKeyToken=0a613f4dd989e8ae' or one of its dependencies
[AB#7209](https://microsoft

[2020-04-23 20:52] darrelmiller commented on #63
Hi Tanzy,

We are not going to GA that library.  That was our plan, but we have changed our plan to adopt the Azure.Identity library which fulfils an identical function.  Moving to Azure.Identity will give developers a consistent experience between Graph SDKs and Azure SDKs.

I talk more about this plan in the community call here:
https://developer.microsoft.com/en-us/graph/blogs/microsoft-graph-c

[2020-04-23 20:52] #63 closed, assigned to nobody

[2020-05-20 18:48] asith-w opened #65 "Cannot get cache tokens of confidential client application according to the current ClientCredentialProvider implementation,"
As below implementation ,There are 5 tenants and need to retrieve graph users  of each tenants.
because **ConfidentialClientApplication** is created with tenant id and app retrieves graph users again for same tenants  ,it generates another new token instead of using cache token
is there ClientCredentialProvider implementation to solve this issue ?

[below code in gist](https://gist.github.com/asit

[2020-05-21 20:26] MIchaelMainer commented on #65
A ClientCredentialProvider instance is intended to authenticate per single tenant. We recommend that you create a dictionary of GraphServiceClient instances by tenant ID, and reuse those GraphServiceClient instances across your application. Don't re-instantiate GraphServiceClient per tenant.

[2020-05-21 20:52] asith-w commented on #65
will  dictionary of GraphServiceClient instances manage cache tokens ? following way is managed cache tokens properly
[https://stackoverflow.com/questions/61802091/how-to-handle-appcachetokens-of-multi-tenant-daemon-service-application-using-ms](https://stackoverflow.com/questions/61802091/how-to-handle-appcachetokens-of-multi-tenant-daemon-service-application-using-ms/61803512#61803512)

[2020-05-21 23:18] MIchaelMainer commented on #65
Got it. MSAL provides a mechanism to manage tokens for different tenants with the same client instance (and cache) which would have allowed a single GraphServiceClient to work across all tenants. We didn't expose [WithAuthority](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/blob/442227e1899ba45511840cbb1f59cfbd571b1546/src/client/Microsoft.Identity.Client/ApiConfig/Abstrac

[2020-05-27 02:06] csadam opened #66 "Typo in error message"
In `src/Microsoft.Graph.Auth/Exceptions/ErrorConstants.cs` at line 21
The "challenge" is mistyped as "challange".

The line should be:
`            internal const string AuthenticationChallengeRequired = "Authentication challenge is required.";`

Currently it is:
`            internal const string AuthenticationChallengeRequired = "Authentication challange is required.";`

[2020-05-27 02:15] csadam commented on #63
Does it mean that the Microsoft.Graph.Auth package is essentially deprecated and it is not recommended to use for new developments?
If it is, then could you please add this status to the readme.md?

[2020-05-27 05:40] Tanzy commented on #63
Could also mark the NuGet package as such and point to what should be used. Thinking about it updating samples would be good as well.

[2020-05-28 16:23] TiagoBrenck opened #67 "Web App sample using OnBehalfOf provider"
Hello,

Is there any web app sample using OnBehalfOf provider, that leverages MSAL external token cache provider (ie InMemory)?

Thanks
[AB#7211](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7211)

[2020-07-08 22:29] #66 closed, assigned to nobody

[2020-07-09 04:25] AshikPaul42 opened #72 "Typo in ErrorConstants.cs"
Found a typo in
_`msgraph-sdk-dotnet-auth/src/Microsoft.Graph.Auth/Exceptions/ErrorConstants.cs`_ line number 26.

It should be occurred.

Thank you

[2020-07-09 18:17] ddyett commented on #72
thank you.

[2020-07-09 20:42] #72 closed, assigned to nobody

[2020-07-10 17:30] peombwa opened #74 "ADO Pipeline Failures"
Our ADO Pipelines are failing because the MS hosted agents no longer come with .NET Core 2.2 and 3.0 SDK - https://github.com/actions/virtual-environments/blob/master/images/win/Windows2019-Readme.md. .NET Core 2.2 and 3.0 SDK/runtime are now in End of Line(EOL), and we should update our unit tests to the latest runtime.

[2020-07-10 21:52] #74 closed, assigned to peombwa

[2020-07-16 17:36] christianarg commented on #63
Does this means that this doc are literally deprecated? https://docs.microsoft.com/en-us/graph/sdks/create-client?tabs=CS ??

[2020-08-18 21:47] shwork96 opened #76 "Getting Build Error: Unable to parse version value '1.0.0-preview.5' from 'packages.config After Adding Microsoft.Graph.Auth"
I'm adding some code to access Graph to an ASP.net MVC project. When I add the latest Microsoft.Graph.Auth package from Nuget I get the following error when I build:

Error Unable to parse version value '1.0.0-preview.5' from 'packages.config'.

The other graph libraries work fine. I've used the auth package just fine in another mvc core project. I'm using VS 2019 Enterprise.

[2020-08-20 20:36] MIchaelMainer commented on #76
Please try upgrading to  a Nuget.exe version to greater than 4.3. Answered from https://stackoverflow.com/questions/58804537/visual-studio-2019-unable-to-parse-version-value-1-0-0-preview2-from-packages, please up vote if it helps.

[2020-08-20 20:36] #76 closed, assigned to nobody

[2020-09-14 16:28] peombwa opened #77 "Library should be updated with the latest version of MSAL.NET"
The latest version MSAL.NET fixes a lot of bugs around certificate based auth
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases.
[AB#7212](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7212)

[2020-09-24 00:09] rheophile10 opened #78 "can you add support for Microsoft Bookings"
Would you?

https://docs.microsoft.com/en-us/graph/api/resources/booking-api-overview?view=graph-rest-beta

The only other reference I see is

https://github.com/microsoft/bookings-samples

[2020-09-24 17:50] MIchaelMainer commented on #78
This exists in the Microsoft.Graph.Beta package.

[code]

[2020-09-24 17:50] #78 closed, assigned to nobody

[2020-09-25 15:33] mgordic opened #79 "Get Planner Plans trough Graph Api from Azure Function"
Hi,

Is there any example how I can achieve following requirement:

I need to read Planner Plans from Group in an Azure Function trough Graph Api.

Application permissions are not supported, only delegated.

I tried with ConfidentialClientApplicationBuilder with OnBehalfOfProvider, but no luck. I do not know how to set UserAssertion in this case.

[AB#7213](https://microsoftgraph.visualstudio.com/

[2020-10-01 19:14] ddyett commented on #54
@andrueastman was this covered when we did GraphResponse?

[2020-10-01 20:20] MIchaelMainer commented on #79
Please see https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/460 for an example of how you can do this.

[2020-10-09 01:35] peombwa opened #84 "Library should support Azure B2C"
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics
[AB#7214](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/7214)

[2020-10-09 15:53] ghanshyambb opened #85 "Code: generalException Message: An error occurred sending the request."
Inner Exception: Code: authenticationChallengeRequired
Message: Authentication challange is required.

`IConfidentialClientApplication confidentialClientApplication = ConfidentialClientApplicationBuilder
.Create(clientId).
WithRedirectUri("https://login.microsoftonline.com/common/oauth2/nativeclient")
.WithClientSecret(clientSecret)
.WithAuthority("https://login.microsoftonline.com/organizations/"

[2020-10-12 12:53] vijayaram-b opened #86 "Microsoft.Graph.Auth 1.0.0-preview.5 - Production Code"
We are planning to use the Graph API to read the emails from the Azure Directory. Our company policy state that we should only use published packages not pre-release or preview packages. Could someone advise when this package will be officially published, if not is there any alternative for the same.

[2020-10-15 15:16] MIchaelMainer commented on #86
This package won't become an official release. We now plan on aligning the auth client story for the Microsoft Graph clients to work with TokenCredential provided by Azure.Identity. It is the mechansim by which the Azure SDKs get authorization. In the meantime, I'd suggest that you implement your own implementation of IAuthenticationProvider that directly uses MSAL.

[2020-10-15 15:16] #86 closed, assigned to nobody

[2020-10-15 15:29] MIchaelMainer commented on #84
I suspect that we'll need to add this support to [Azure.Identity](https://github.com/Azure/azure-sdk-for-net/tree/master/sdk/identity/Azure.Identity) since it is unlikely that they'd need to support this scenario.

[2020-10-15 17:20] MIchaelMainer commented on #85
You'll need to describe your scenario in more detail. Who are the actors? What is the nature of this application?

[2020-10-16 16:58] ghanshyambb commented on #85
@MIchaelMainer i have created api application to get information of azure resources with all its property. i have registered my app in azure portal under active directory through which i will get all the resource information by different sdk
now i want to get information of Active directory using graph sdk. i have use above code for authentication for active directory detail under my subscription.

[2020-11-19 21:21] BatsIhor opened #90 "On Behalf Of Not working when Azure AD is Enabled for Web API .Net Framework"
Hi all,
Here is my situation, I have enabled AzureAD authentication on app, with App Registration and Delegated User.Read permission so only authenticated users can access it. As result I receive Headers with "X-MS-...."

From those headers and claims I know who is accessing my app but I want to get more info about user using Graph "/me/memberOf" endpoint.

So "on behalf" look like the right way t

[2020-11-23 09:43] marcoscheel commented on #14
Is this solved? As of now I'm using the Microsoft.Graph.Auth Nuget and the device code provider is working.

https://www.nuget.org/packages/Microsoft.Graph.Auth

[2020-12-03 16:53] habex-ch opened #94 "When will there be a released auth-package?"
Hi there,
We were waiting on the release of this package.
Today I have found the issue #63 Microsoft.Graph.Auth Release out of Preview.
So this package will never been released.
Is there a roadmap, when Azure.Identity library will be integrated?

[2020-12-03 18:09] ddyett commented on #94
No there are no plans to release this package.  Azure Identity work is currently being completed but you can try out the integration in the preview version. I'm hoping to have this much closer to release in January.

https://www.nuget.org/packages/Microsoft.Graph.Core/2.0.0-preview.3

[2020-12-03 18:09] #94 closed, assigned to nobody

[2020-12-03 19:55] pschaeflein commented on #94
@ddyett - what branch/fork/tag is the preview built from? Didn't see an obvious answer...

[2020-12-03 21:21] MIchaelMainer commented on #90
We suggest that you use Microsoft.Identity.Web for this scenario. Checkout this resource:
https://channel9.msdn.com/Shows/On-NET/Authentication-with-Graph-SDKs

[2020-12-03 21:21] #90 closed, assigned to nobody

[2020-12-13 17:03] rubeesh opened #95 "Release date"
Is there any update on moving to release from preview.

[2020-12-15 15:08] pschaeflein commented on #95
https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/issues/94#issuecomment-738186741

[2020-12-15 17:21] #95 closed, assigned to nobody

[2021-01-04 10:59] stefan1st opened #96 "How to solve “Microsoft.graph.serviceexception code "generalException" an error occurred sending the request” while fetching calendar events?"
I have created an auth provider using user-password auth provider and trying to retrieve calendar events in bot code which is in c#.

**Inner Exception :**

`Error={Code: generalException Message: Unexpected exception returned from MSAL. }`

**Inner Exception Message**:

[code]

**StackTrace :**

[code]

**My Code:**

`var attendees = new List<AttendeeBase>()
			{
				new AttendeeBase
				{
					E

[2021-01-04 13:33] pschaeflein commented on #96
As hinted in the error message, the configuration of the application in the AAD portal is not correct.

https://www.schaeflein.net/aadsts7000218-public-client/

[2021-01-04 14:00] stefan1st commented on #96
Well, I've tried this, and I have the same error.
Am I missing something?
![image](https://user-images.githubusercontent.com/6409222/103542737-0c21a000-4ea6-11eb-993c-86460704d9fa.png)

[2021-01-04 14:52] pschaeflein commented on #96
Not sure what else without diving into code. I can say that Username/Password is not really the best choice anymore. I would use the Interactive or DeviceCode providers instead. There are samples in the [Graph.Community](https://github.com/microsoftgraph/msgraph-sdk-dotnet-contrib/tree/master/samples) library.

Also, the Bot Framework allows for [getting a token thru an OAuth dialog](https://docs.

[2021-01-23 01:02] MIchaelMainer commented on #96
+1 to what Paul said.

The username password flow doesn't use a redirect URI. Try removing it.

[code]
Also, check from your app registration that public applications are enabled.

![image](https://user-images.githubusercontent.com/8527305/105563499-1f6ca200-5cd3-11eb-8393-ad58e1533631.png)

Are you able to successfully use this flow?

[2021-02-04 17:36] albertly opened #98 "How to get OAuth access token from VSTO Outlook add-in when user logged to Office 365"
My end user has Outlook connected to Office 365 and have an old VSTO add-in that needs to connect to  my Rest API.

I need to implement SSO solution to my Rest API.

I want to get an access token  from VSTO add-in without prompting an user (or maybe prompting once ), he is already authenticated in Outlook with his Office 365 account.

Is it possible?
[AB#8002](https://microsoftgraph.visualstudio.c

[2021-02-04 18:30] MIchaelMainer commented on #98
@albertly I don't know if this is possible. This repo is for the Microsoft Graph .NET authentication library for use with the .NET client libraries for Microsoft Graph. This would be an excellent question to post to StackOverflow.

[2021-02-04 18:30] #98 closed, assigned to nobody

[2021-02-08 20:00] ghost commented on #96
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-11 21:00] #96 closed, assigned to nobody

[2021-03-02 18:17] hannespreishuber opened #101 "Stuck in authenticationChallengeRequired"
done at least 10 hours of ASP.NET MVC
there is no complete sample for AuthorizationCodeProvider

so my code
[code]
get error message

Code: authenticationChallengeRequired
Message: Authentication challenge is required.
Beschreibung: Unbehandelte Ausnahme beim Ausführen der aktuellen Webanforderung. Überprüfen Sie die Stapelüberwachung, um weitere Informationen über diesen Fehler anzuzeigen und fes

[2021-03-02 18:57] andrueastman commented on #101
@hannespreishuber
The AuthorizationCodeProvider is intended to be used with the [Auth Code Flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).Therefore, web app will need to get an Auth Code to use in order to get an access token. You are most likely getting this error since you have not yet acquired an access token the right way.

If you check out the

[2021-03-02 19:04] hannespreishuber commented on #101
to much links ...
did already
[code]
but no idea where to add the token

also within controller

[code]
feels like a big puzzle with 10000 pieces. Just want 10 lines of code...

[2021-03-02 22:35] under3415 opened #102 "cannot pass account to MS.Graph"
MSAL IdentityClientApp can cache multiple credentials.

I can retrieve these using this code
[code]

I can specify which account to retrieve a token for using this code:
[code]

But when I pass IdentityClientApp to MS.Graph `DeviceCodeProvider` , there is no way to specify which account to use.

[code]

How do I deal with scenarios where multiple credentials are cached?
How does graph chose which

[2021-03-03 02:49] under3415 commented on #102
Found the solution. Instead of using MS.Graph.Auth, I am creating Graph Client using this approach:

[code]

[2021-03-03 02:49] #102 closed, assigned to nobody

[2021-03-03 02:55] under3415 opened #103 "Cannot PUT/PATCH image to a contact"
Using this HTTP in Postman to PUT a photo to a contact.
I get status 200 OK, but the photo is not visible for the contact.

[code]

I used 120x120 png image. I've set contact photo metadata (ProfilePhoto) to

[code]

[AB#8406](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/8406)

[2021-03-03 07:06] hannespreishuber commented on #101
just to complete the whole picture, what I tried already
manual paste a token to the sdk request header- always the same result...
[code]

[2021-03-19 20:50] MIchaelMainer commented on #79
Please reopen if there is a bug associated with this issue.

[2021-03-19 20:50] #79 closed, assigned to MIchaelMainer

[2021-03-26 13:00] gallettoNL commented on #76
I have the same issue.
I don't have a Nuget.exe on my system, it's incorporated in VS2019 (latest version), I believe, so why does this error occur, an how to solve it?

[2021-04-26 10:40] MAlabaster opened #106 "Authorisation failing unpredictably on PublicClientApp."
Due to the upcoming deprecation of EWS, I'm converting a c# windows service that imports email attachments from our customers' 365 mailbox folders. I registered a multi-tenant application but could not get authentication with client secret to work so I opted for a public client application and AcquireTokenByUsernamePassword, using stored usernames and passwords. The setup for the credential stores

[2021-04-27 07:10] andrueastman commented on #106
@MAlabaster
How did you create the instance of the `graphClient`? Did you set it up to use the InteractiveAuthProvider? Was it your intention to use the interactive flow or the UsernamePassword flow?
From the exception trace it looks like the graphClient is configured to use the InteractiveAuthProvider.

[2021-04-27 08:19] MAlabaster commented on #106
That is correct. I could not get any of the private application examples to authorise except in my own company's accounts and from looking through the documentation I could not find an authorisation model that will allow my app to log into other tenants' emails with read/write email access using client secret. I only have access to the customers' email login credentials, and I used the fully inter

[2021-04-27 20:25] Maxinoume opened #107 "AuthProvider "IntegratedWindowsAuthenticationProvider.Ctor not found""
I'm trying to use Microsoft.Graph Api to get a list of users. I am able to authenticate on the api. I receive the Token and basic profile info upon login.

Then I am trying to use the Microsoft.Graph.Auth SDK/nuget found [here][1] to generate my requests. Here is a barebone example of what I am trying to do (you can also find this example in the doc of the package.
[code]

But I get the error ```S

[2021-04-28 06:48] andrueastman commented on #107
@Maxinoume Can you provide more info on the package version you are trying to use and the target version of .Net?

[2021-04-28 15:00] Maxinoume commented on #107
I'm using the latest package version (v1.0.0-preview.7) and .Net 4.8. But I'd also like to use it on .Net Core 5.
I've now just realized that it says to use .Net 4.5 but I can't do that because of other parts of the codebase.

Could this really be the problem? I'm surprised the manager let me install it if my project didn't meet the requirements.

[2021-04-29 14:06] Maxinoume commented on #107
I saw that there were ```#IF NET45``` in ```InteractiveAuthenticationProvider``` that most probably cause my issue. I cloned the solution on my end to try to fix the issue but when using this custom DLL, my project didn't recognize the controller ```Doesn't contain a controller with X parameters``` on build (instead of the similar exception but on execution with the unedited Nuget).

I didn't want

[2021-05-03 15:17] TejendraPrasad opened #108 "When it will be move to Live Version?"
Hi Team,

When this library will be move to live version from preview so it can be used in production apps.

thank you!
Regards,
Tej
[AB#9242](https://microsoftgraph.visualstudio.com/0985d294-5762-4bc2-a565-161ef349ca3e/_workitems/edit/9242)

[2021-05-05 10:29] andrueastman commented on #108
Hey @TejendraPrasad.

We are not planning to move this out of preview. You can find more details about this at https://github.com/microsoftgraph/msgraph-sdk-dotnet-auth/issues/63

The service library version supporting Azure.Identity is also available in preview, and you can find more details [here](https://github.com/microsoftgraph/msgraph-sdk-dotnet/blob/feature/2.0/docs/upgrade-to-v4.md#azure-i

[2021-05-05 10:29] #108 closed, assigned to nobody

[2021-05-07 06:44] #107 closed, assigned to andrueastman

[2021-06-22 20:57] peombwa commented on #77
This has been resolved.

[2021-06-22 20:57] #77 closed, assigned to MIchaelMainer

[2021-08-11 13:31] hanhsia opened #112 "Question: How to cache the token when using GraphServiceClient with UsernamePasswordCredential"
I need to use a service account to call graph api. So the only choice is to instantiate GraphServiceClient with UsernamePasswordCredential. The code is as following:
 var credential = new UsernamePasswordCredential(
                options.UserName, options.Password, options.TenantId, options.ClientId);
services.AddSingleton<GraphServiceClient>(x => new GraphServiceClient(credential, options.Scope

[2021-08-30 19:58] maisarissi commented on #14
Hi @darrelmiller

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

[2021-08-30 19:58] #14 closed

[2021-08-30 19:59] maisarissi commented on #15
Hi @peombwa

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

This

[2021-08-30 19:59] #15 closed

[2021-08-30 19:59] maisarissi commented on #19
Hi @peombwa

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

This

[2021-08-30 19:59] #19 closed

[2021-08-30 20:00] maisarissi commented on #47
Hi @joshfriend

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

T

[2021-08-30 20:00] #47 closed, assigned to nobody

[2021-08-30 20:01] maisarissi commented on #64
Hi @stefan2410

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

T

[2021-08-30 20:01] #64 closed, assigned to MIchaelMainer

[2021-08-30 20:01] maisarissi commented on #65
Hi @asith-w

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

This

[2021-08-30 20:01] #65 closed, assigned to nobody

[2021-08-30 20:02] maisarissi commented on #67
Hi @TiagoBrenck

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

[2021-08-30 20:02] #67 closed, assigned to darrelmiller

[2021-08-30 20:03] maisarissi commented on #84
Hi @peombwa

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

This

[2021-08-30 20:03] #84 closed, assigned to nobody

[2021-08-30 20:03] maisarissi commented on #85
Hi @ghanshyambb

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

[2021-08-30 20:03] #85 closed, assigned to nobody

[2021-08-30 20:04] maisarissi commented on #101
Hi @hannespreishuber

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/93

[2021-08-30 20:04] #101 closed, assigned to andrueastman

[2021-08-30 20:04] maisarissi commented on #103
Hi @under3415

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

Th

[2021-08-30 20:04] #103 closed, assigned to nobody

[2021-08-30 20:06] maisarissi commented on #106
Hi @MAlabaster

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

T

[2021-08-30 20:06] #106 closed, assigned to andrueastman

[2021-08-30 20:06] maisarissi commented on #112
Hi @hanhsia

Thank you for reaching out and opening this issue. This client library will not leave the preview state. Microsoft.Graph v4 now integrates with Azure.Identity which supports a wide variety of authentication flows out of the box.
We suggest that you migrate to v4 + Azure.Identity. Read more about it in this [issue](https://github.com/microsoftgraph/msgraph-sdk-dotnet/issues/935).

This

[2021-08-30 20:06] #112 closed, assigned to nobody